In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
df.shape

(205, 26)

In [4]:
df.info

<bound method DataFrame.info of      car_ID  symboling                   CarName fueltype aspiration  \
0         1          3        alfa-romero giulia      gas        std
1         2          3       alfa-romero stelvio      gas        std
2         3          1  alfa-romero Quadrifoglio      gas        std
3         4          2               audi 100 ls      gas        std
4         5          2                audi 100ls      gas        std
..      ...        ...                       ...      ...        ...
200     201         -1           volvo 145e (sw)      gas        std
201     202         -1               volvo 144ea      gas      turbo
202     203         -1               volvo 244dl      gas        std
203     204         -1                 volvo 246   diesel      turbo
204     205         -1               volvo 264gl      gas      turbo

    doornumber      carbody drivewheel enginelocation  wheelbase  ...  \
0          two  convertible        rwd          front       88.6  ...
1          two  convertible        rwd          front       88.6  ...
2          two    hatchback        rwd          front       94.5  ...
3         four        sedan        fwd          front       99.8  ...
4         four        sedan        4wd          front       99.4  ...
..         ...          ...        ...            ...        ...  ...
200       four        sedan        rwd          front      109.1  ...
201       four        sedan        rwd          front      109.1  ...
202       four        sedan        rwd          front      109.1  ...
203       four        sedan        rwd          front      109.1  ...
204       four        sedan        rwd          front      109.1  ...

     enginesize  fuelsystem  boreratio  stroke compressionratio horsepower  \
0           130        mpfi       3.47    2.68              9.0        111
1           130        mpfi       3.47    2.68              9.0        111
2           152        mpfi       2.68    3.47              9.0        154
3           109        mpfi       3.19    3.40             10.0        102
4           136        mpfi       3.19    3.40              8.0        115
..          ...         ...        ...     ...              ...        ...
200         141        mpfi       3.78    3.15              9.5        114
201         141        mpfi       3.78    3.15              8.7        160
202         173        mpfi       3.58    2.87              8.8        134
203         145         idi       3.01    3.40             23.0        106
204         141        mpfi       3.78    3.15              9.5        114

     peakrpm citympg  highwaympg    price
0       5000      21          27  13495.0
1       5000      21          27  16500.0
2       5000      19          26  16500.0
3       5500      24          30  13950.0
4       5500      18          22  17450.0
..       ...     ...         ...      ...
200     5400      23          28  16845.0
201     5300      19          25  19045.0
202     5500      18          23  21485.0
203     4800      26          27  22470.0
204     5400      19          25  22625.0

[205 rows x 26 columns]>

In [5]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

# Feature engineering

In [6]:
df = df.drop('car_ID', axis =1)
df = df.drop('doornumber', axis =1)
df = df.drop('enginelocation', axis =1)

In [7]:
df

,symboling,CarName,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,std,convertible,rwd,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,std,convertible,rwd,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,std,hatchback,rwd,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,std,sedan,fwd,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,std,sedan,4wd,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,volvo 145e (sw),gas,std,sedan,rwd,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,-1,volvo 144ea,gas,turbo,sedan,rwd,109.1,188.8,68.8,55.5,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,-1,volvo 244dl,gas,std,sedan,rwd,109.1,188.8,68.9,55.5,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,-1,volvo 246,diesel,turbo,sedan,rwd,109.1,188.8,68.9,55.5,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,-1,volvo 264gl,gas,turbo,sedan,rwd,109.1,188.8,68.9,55.5,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [8]:
df.drop("CarName" , axis = 1)

,symboling,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,curbweight,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,std,convertible,rwd,88.6,168.8,64.1,48.8,2548,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,std,convertible,rwd,88.6,168.8,64.1,48.8,2548,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,std,hatchback,rwd,94.5,171.2,65.5,52.4,2823,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,std,sedan,fwd,99.8,176.6,66.2,54.3,2337,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,std,sedan,4wd,99.4,176.6,66.4,54.3,2824,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,gas,std,sedan,rwd,109.1,188.8,68.9,55.5,2952,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,-1,gas,turbo,sedan,rwd,109.1,188.8,68.8,55.5,3049,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,-1,gas,std,sedan,rwd,109.1,188.8,68.9,55.5,3012,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,-1,diesel,turbo,sedan,rwd,109.1,188.8,68.9,55.5,3217,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,-1,gas,turbo,sedan,rwd,109.1,188.8,68.9,55.5,3062,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [9]:
df.fueltype.unique()

array(['gas', 'diesel'], dtype=object)

In [10]:
fueltype = pd.get_dummies(df['fueltype']).head()
fueltype

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [11]:
fueltype = pd.get_dummies(df['fueltype'], drop_first=True)
fueltype

     gas
0      1
1      1
2      1
3      1
4      1
..   ...
200    1
201    1
202    1
203    0
204    1

[205 rows x 1 columns]

In [12]:
df.aspiration.unique()
aspiration = pd.get_dummies(df['aspiration'])
aspiration.head()

   std  turbo
0    1      0
1    1      0
2    1      0
3    1      0
4    1      0

In [13]:
aspiration = pd.get_dummies(df['aspiration'], drop_first=True)
aspiration.head()
#0 is turbo and 1 is std

   turbo
0      0
1      0
2      0
3      0
4      0

In [14]:
carbody = df.carbody
carbody.unique()
carbody = carbody.map({'convertible':0, 'hatchback':1, 'sedan':2, 'wagon':3, 'hardtop':4})
carbody

0      0
1      0
2      1
3      2
4      2
      ..
200    2
201    2
202    2
203    2
204    2
Name: carbody, Length: 205, dtype: int64

In [15]:
drivewheel = df.drivewheel
drivewheel.unique()
drivewheel = drivewheel.map({'rwd':0, 'fwd':1, '4wd':2})
drivewheel

0      0
1      0
2      0
3      1
4      2
      ..
200    0
201    0
202    0
203    0
204    0
Name: drivewheel, Length: 205, dtype: int64

In [16]:
fuelsystem = df.fuelsystem
fuelsystem.unique()
fuelsystem = fuelsystem.map({'mpfi':0, '2bbl':1, 'mfi':2, '1bbl':3, 'spfi':4, '4bbl':5, 'idi':6, 'spdi':6})
fuelsystem

0      0
1      0
2      0
3      0
4      0
      ..
200    0
201    0
202    0
203    6
204    0
Name: fuelsystem, Length: 205, dtype: int64

In [17]:
new_data = pd.concat([df,fueltype, aspiration, carbody, drivewheel, fuelsystem], axis =1)

In [18]:
new_data.head()

,symboling,CarName,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,...,horsepower,peakrpm,citympg,highwaympg,price,gas,turbo,carbody,drivewheel,fuelsystem
0,3,alfa-romero giulia,gas,std,convertible,rwd,88.6,168.8,64.1,48.8,...,111,5000,21,27,13495.0,1,0,0,0,0
1,3,alfa-romero stelvio,gas,std,convertible,rwd,88.6,168.8,64.1,48.8,...,111,5000,21,27,16500.0,1,0,0,0,0
2,1,alfa-romero Quadrifoglio,gas,std,hatchback,rwd,94.5,171.2,65.5,52.4,...,154,5000,19,26,16500.0,1,0,1,0,0
3,2,audi 100 ls,gas,std,sedan,fwd,99.8,176.6,66.2,54.3,...,102,5500,24,30,13950.0,1,0,2,1,0
4,2,audi 100ls,gas,std,sedan,4wd,99.4,176.6,66.4,54.3,...,115,5500,18,22,17450.0,1,0,2,2,0

In [19]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   carbody           205 non-null    object
 5   drivewheel        205 non-null    object
 6   wheelbase         205 non-null    float64
 7   carlength         205 non-null    float64
 8   carwidth          205 non-null    float64
 9   carheight         205 non-null    float64
 10  curbweight        205 non-null    int64
 11  enginetype        205 non-null    object
 12  cylindernumber    205 non-null    object
 13  enginesize        205 non-null    int64
 14  fuelsystem        205 non-null    object
 15  boreratio         205 non-null    float64
 16  stroke            205 non-null    float64
 17  compressionratio  205 non-null    float64
 18  horsepower        205 non-null    int64
 19  peakrpm           205 non-null    int64
 20  citympg           205 non-null    int64
 21  highwaympg        205 non-null    int64
 22  price             205 non-null    float64
 23  gas               205 non-null    uint8
 24  turbo             205 non-null    uint8
 25  carbody           205 non-null    int64
 26  drivewheel        205 non-null    int64
 27  fuelsystem        205 non-null    int64
dtypes: float64(8), int64(10), object(8), uint8(2)
memory usage: 42.2+ KB

In [21]:
new_data.drop(['CarName','fueltype','aspiration','carbody','drivewheel','enginetype','cylindernumber','fuelsystem'], axis = 1, inplace= True)

In [22]:
new_data.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,gas,turbo
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0,1,0
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0,1,0
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0,1,0
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0,1,0
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0,1,0

In [23]:
new_data.columns

Index(['symboling', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price', 'gas',
       'turbo'],
      dtype='object')

In [24]:
new_data.isnull().sum()

symboling           0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginesize          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
gas                 0
turbo               0
dtype: int64

In [25]:
x = new_data.drop('price', axis = 1)

In [26]:
y = new_data[('price')]

In [27]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train , y_test = train_test_split(x,y ,test_size = 0.3, random_state = 0)

In [28]:
print("x_train" , x_train.shape)
print("x_test" , x_test.shape)
print("y_train" , y_train.shape)
print("y_test" , y_test.shape)

x_train (143, 16)
x_test (62, 16)
y_train (143,)
y_test (62,)

In [72]:
from sklearn.svm import SVR
model = SVR()
model = model.fit(x_train,y_train)

In [73]:
y_pred = model.predict(x_test)
y_pred

array([10243.04636742, 10247.68489516, 10245.13118629, 10241.56433078,
       10244.34558359, 10246.03305725, 10242.9387699 , 10244.53588658,
       10247.39031178, 10242.9223782 , 10246.35149656, 10248.28268596,
       10244.49890047, 10246.31238915, 10242.93273193, 10245.54699013,
       10245.53508363, 10246.81898157, 10244.02481329, 10243.51872793,
       10244.61114355, 10247.44995503, 10245.08292599, 10246.16600364,
       10247.18341461, 10243.60997727, 10243.76358206, 10248.22914881,
       10243.91448795, 10242.92314165, 10244.08134077, 10245.33075824,
       10246.16519098, 10244.92892774, 10243.09854054, 10248.46335005,
       10244.17143099, 10246.27702188, 10242.78987464, 10249.94650658,
       10242.80845076, 10246.32959489, 10249.95105195, 10245.97141217,
       10245.38102076, 10243.93075692, 10243.19247765, 10246.88922376,
       10245.91278922, 10244.3273265 , 10247.31832638, 10243.52642272,
       10244.08820296, 10244.90571976, 10246.85161509, 10247.64490388,
       10245.17629227, 10247.32009942, 10244.58986274, 10243.11353831,
       10242.44317537, 10246.16519991])

In [90]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
print("MSE", mean_squared_error(y_test,y_pred))
print("MAE", mean_absolute_error(y_test,y_pred))

MSE 74882545.4165817
MAE 5449.476320726605

['precision', 'recall']